{{- template "git/config.tmpl" .}}

[core]
    sshCommand = "C:/Windows/System32/OpenSSH/ssh.exe"
    editor = {{ .git.editor | quote }}

[gpg.ssh]
    program = "C:/Windows/System32/OpenSSH/ssh-keygen.exe"

[merge]
    guitool = bc

[diff]
    guitool = bc

[difftool "bc"]
    path = bcomp.exe
    cmd = \"bcomp.exe\" \"$LOCAL\" \"$REMOTE\"

[mergetool "bc"]
    path = bcomp.exe
    cmd = \"bcomp.exe\" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"

[credential "helperselector"]
    selected = manager

[credential "http://fi-r-git.slcloud.ch"]
    provider = generic

[safe]
{{- range .git.safe.directories }}
    directory = {{ . | quote }}
{{- end }}

[http]
    sslCAInfo = {{ .git.http.sslCAInfo | quote }}
