{{- template "git/config.tmpl" .}}

[core]
    sshCommand = "C:/Windows/System32/OpenSSH/ssh.exe"
    editor = {{ .git.editor | quote }}

[gpg.ssh]
    program = "C:/Windows/System32/OpenSSH/ssh-keygen.exe"
