
$OutputEncoding = [System.Text.UTF8Encoding]::UTF8
[Console]::OutputEncoding = [System.Text.UTF8Encoding]::UTF8

jj util completion power-shell | Out-String | Invoke-Expression

Invoke-Expression (&starship init powershell)

Import-Module PSFzf
Set-PsFzfOption -PSReadlineChordProvider 'Ctrl+t' -PSReadlineChordReverseHistory 'Ctrl+r'
Set-PsFzfOption -EnableAll

Invoke-Expression (& { (zoxide init powershell | Out-String) })
function zoi { ii (zoxide query $args) }
Set-Alias -Name zz -Value zoi
